# General
.DS_Store
public
*.lock
*.yaml
*.env
node_modules
cors.json

# Terraform / Local overrides
*.tfstate
*.tfstate.*
*tfvars
.terraform.lock.hcl
crash.log
ials.auto.tfvars
*.backup
.terraform/
--role-arn
scripts.txt
tfplan
*.tfvars

# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

commands.txt