.DS_Store

public
*.lock
*.yaml
*.env
node_modules

infra
tests/commands.md
infra/commands.md
infra/variables.tf

ials.auto.tfvars
infra/terraform.tfstate.backup
infra/.terraform.lock.hcl
infra/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/darwin_amd64/terraform-provider-aws_v4.67.0_x5
infra/.terraform/providers/registry.terraform.io/hashicorp/archive/2.3.0/darwin_amd64/terraform-provider-archive_v2.3.0_x5
infra/terraform.tfstate.backup
