# General
.DS_Store
public
*.lock
*.yaml
*.env
node_modules
cors.json
*.toml


# Terraform / Local overrides
*.tfstate
*.tfstate.*
*tfvars
.terraform.lock.hcl
crash.log
ials.auto.tfvars
*.backup
.terraform/
--role-arn
scripts.txt
tfplan
*.tfvars