body {
  font-family: "Calibri", sans-serif;
  font-size: 11pt;
  margin: 0;
  padding: 2em;
  background: #fff;
  color: #000;
  line-height: 1.4;
}

.container {
  max-width: 800px;
  margin: auto;
}

/* Headings */
h1 {
  font-size: 14pt;
  margin: 0 0 0.5em 0;
  text-align: center;
}

.contact {
  font-size: 11pt;
  margin-bottom: 2em;
  text-align: center;
}

.contact a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 12pt;
  margin: 2em 0 1em;
  text-align: center;
  font-weight: bold;
  padding-bottom: 0.2em;
}

/* Grid-style experience layout */
.job {
  margin-bottom: 1.5em;
}

.job-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.1em 1em;
  font-size: 11pt;
  margin-bottom: 0.4em;
}

.job-grid .left,
.job-grid .right {
  font-weight: bold;
}

.job-grid .right {
  text-align: right;
}

.job ul {
  margin: 0.5em 0 0 1.2em;
  padding-left: 0;
  font-size: 11pt;
}

.job ul li {
  margin-bottom: 0.4em;
}

/* Entry layout for education and other areas */
.entry {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 1em;
  flex-wrap: wrap;
}

.subentry {
  font-size: 11pt;
  margin-top: 0.2em;
}

/* Projects */
.project {
  margin-top: 1.5em;
  font-size: 11pt;
}

/* Section general spacing */
section {
  margin-bottom: 1em;
}

@media print {
  body {
    padding: 0;
  }

  .container {
    width: 100%;
    margin: 0;
  }

  a {
    color: black;
    text-decoration: none;
  }
}
