{{ define "main" }}

<h1>About Me</h1>
<h2>Howdy, I'm Trinity Klein!</h2>
<p>
I'm a recent graduate from the Cullen College of Engineering, with Bachelors in Computer Information Systems (CIS). I graduated cum laude in May 2025. 
My experience surrounds primarily cloud infrastructure, full-stack development, cybersecurity, and database management. I hold these certifications: 
<a href="https://www.credly.com/badges/9ab1424b-f346-4461-a1b7-829dc8591cd9/public_url" target="_blank"> AWS Certified Cloud Practitioner</a>
and <a href="https://www.credly.com/badges/9d9b271b-094f-4a86-9403-78d9c5f66141/public_url" target="_blank"> Cisco Data Analytics Essentials</a>.
</p>
<p>
At Southeast Hypnosis, I led digital transformation initiatives through AI integration, and workflow automation. From building integrating an AI chatbot
to boost client conversions to designing an automated reminder funnel that reduces no-shows and cancellations, to migrating the website to WordPress 
for increased performance, I have seen with my own eyes the value that technology has on streamlining operations, while still advancing user experiences, 
even on a tight  budget.
</p>
<p>
Above all, my ultimate goal is to create innovative applications, practical systems, and build projects with lasting impact on it's users' lives.
</p>

<h2>Let's Connect</h2>
<p>
Also, I am currently seeking new opportunities. So, feel free to reach out, connect with me or send me an email!
<ul>
    <li>Email: <a href="mailto:tlklein05@gmail.com">tlklein05@gmail.com</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/trinity-klein/" target="_blank" rel="noopener noreferrer">linkedin.com/in/trinity-klein</a></li>
    <li>GitHub: <a href="https://github.com/tlklein" target="_blank" rel="noopener noreferrer">github.com/tlklein</a></li>
    <li>Blog: <a href="https://dev.to/tlklein" target="_blank" rel="noopener noreferrer">dev.to/tlklein</a></li>
</ul>
</p>

<hr/>

<h1>What I Have Been Writing</h1>
<p>
I wrote about the Cloud Resume Challenge, and everything I learned along the way. Here is my most recent post:
</p>

<div class="image-grid">
   <!-- 
   <a href="" target="_blank" title="Cloud Resume Challenge"> 
      <img src="../The-Cloud-Resume-Challenge-Graphics-14.png" class="img-responsive">
  </a>
  <a href="" target="_blank" title="Cloud Resume Challenge"> 
      <img src="../The-Cloud-Resume-Challenge-Graphics-12.png" class="img-responsive">
  </a>
  <a href="" target="_blank" title="Cloud Resume Challenge"> 
      <img src="../The-Cloud-Resume-Challenge-Graphics-10.png" class="img-responsive">
  </a>
  -->
  <a href="https://dev.to/tlklein/cloud-resume-challenge-chunk-2-building-the-api-4dgn" target="_blank" title="Cloud Resume Challenge"> 
      <img src="..//The-Cloud-Resume-Challenge-Graphics-5.png" class="img-responsive">
  </a>
</div>

<!-- 
<p>
<a href="https://dev.to/tlklein" target="_blank" rel="noopener noreferrer">
View all posts on Dev.to →
</a>
</p>
-->
{{ end }}